/output/abricate/
/output/unicycler/
/output/ariba/
/output/mobsuite/
/output/platon/
/output/viralVerify/
/output/integron/
/database/abricate/
/database/platon/
/database/viralVerify/
/fasta/*
!/fasta/.gitkeep
!/**/.gitkeep
!.gitkeep